---
const { tags } = Astro.props
---

<div>
    <span class="text-primary-green uppercase font-medium">Services</span>
    <div class="mt-3 gap-2 flex flex-row flex-wrap md:flex-col ">
        {tags.map((tagName) =>(
        <div class="bg-gray-700 text-white rounded-md py-2 px-3 text-center w-max">{tagName}</div>))}
    </div>
</div>