---
const { max, index, title } = Astro.props
---

<div class="spacing-def py-8 prose max-w-full">
    <span class="text-primary-green text-base font-bold">{index}/{max}</span>
    <h2 class="!text-3xl !my-2">{title}</h2>
    <slot />
</div>