<section class="grid-def">
    <div class="element-def py-20">

        <h2 class="text-4xl md:text-5xl my-2 text-center">Why Decentree</h2>
        <p class="text-lg text-center mb-20">
            We already done a lot of projects in the past and wrote hunders of thousands lines of code. Our team of blockchain experts have deep knowledge in blockchain development and applied cryptography.
        </p>
        <div class="flex <md:flex-col justify-center gap-x-30">
            <div class="<md:text-center" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100">
                <h3 class="text-7xl text-primary-green my-0">10+</h3>
                <p>projects</p>
            </div>
            <div class="<md:text-center"  data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200">
                <h3 class="text-7xl text-primary-green my-0">200k+</h3>
                <p>lines of code</p>
            </div>
            <div class="<md:text-center"  data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
                <h3 class="text-7xl text-primary-green my-0">5+</h3>
                <p>blockchain experts</p>
            </div>
        </div>
    </div>
</section>