<div class="flex flex-wrap w-full element-def justify-around justify-items-center items-center gap-x-3 md:gap-x-10 z-10 h-2/5">
    <img class="w-2/7 md:w-[200px] object-contain" src="/images/logos/luftio.png" alt="AltLift Logo" draggable={false} loading="lazy" width="226" height="77"/>
    <img class="w-2/7 md:w-[200px] object-contain" src="/images/logos/altlift.png" alt="Luftio Logo" draggable={false} loading="lazy" width="266" height="83"/>
    <img class="w-2/7 md:w-[200px] object-contain" src="/images/logos/esl.png" alt="ESL Logo" draggable={false} loading="lazy" width="258" height="93"/>
</div>