@import '_resets';
@import '_fonts';
@import '_burger';

@windicss;

.grid-def {
  @apply grid grid-cols-14;
}

.element-def {
  @apply col-mobile md:col-def;
}

[data-aos="zoom-y-out"] {
  transform: scaleX(1.02);
  opacity: 0;
  transition-property: transform, opacity;
}