---
import BaseLayout from "../../components/layouts/base.astro";
import Navbar from "../../components/elements/shared/navbar.svelte";
import Cookies from "../../components/modules/index/cookies.svelte";
import Contact from "../../components/modules/index/contact.svelte";
import Footer from "../../components/elements/shared/footer.astro";

import { SEO } from "astro-seo";
import StructuredData from "../../components/elements/shared/structured-data.astro"
import Heading from "../../components/elements/projects/heading.astro";
import TextSection from "../../components/elements/projects/text-section.astro";
import Services from "../../components/elements/projects/services.astro";

import "aos/dist/aos.css";
---

<html lang="en" class="bg-primary-blue">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <SEO title="ESL | Decentree - Developer studio" canonical="https://decentree.com"
    description="Decentree is a young company that specializes in the development of mobile, online, and blockchain apps. At Decentree we believe in the ability of technology to enhance people's lives on a daily basis."
    extend={{ link: [{ rel: "sitemap" , href: "/sitemap.xml" }, { rel: "favicon" , href: "/favicon.ico" },
    {rel:"manifest", href:"/manifest.json"}], }} openGraph={{ basic: { title: "Decentree - Developer studio" ,
    type: "website" , url: "https://decentree.com" , image: "" } }} />
  <StructuredData />
  <link rel="preload" href="/fonts/Montserrat-Black.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin>
  <script async key="google-analytics" type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-37G72ELFWH"></script>
  <script key="google-analytics-config" type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-37G72ELFWH');
  </script>
</head>

<body>
  <BaseLayout>
    <Navbar client:media="(max-width: 800px)" />
    <Heading title="ESL" imagePath="/images/projects/esl_heading.jpg">This project is a good example how could two
      companies, one with almost 30 years and another
      with almost one year on the market work together. We developed a strong partneship with ESL and till now we are
      developing new products and trying to digitize the wide range of work this company does.</Heading>
    <TextSection index={1} max={3} title="About ESL">
      <p>
        ESL was founded in 1993 and since then, they have been
        designing and especially implementing systems of selected technical equipment for buildings. Their
        philosophy is authenticity and mutual trust with business partners. They won several awards and their
        motto
        is: "Did the job once but well is ultimately more efficient, faster and much cheaper."
      </p>
    </TextSection>
    <section class="spacing-def my-16 flex flex-col gap-8 flex-wrap md:flex-row md:justify-between" >
      <div  data-aos="fade" data-aos-duration="600">
        <Services tags={["iOS", "Android" , "Frontend" , "Backend" , "QA" , "Design" ]} />
      </div>
      <img src="/images/projects/esl.png" class="block w-full md:max-w-[600px] object-cover flex-1" loading="lazy" data-aos="fade-left" data-aos-duration="600" data-aos-delay="200"
        alt="Problem">
    </section>
    <TextSection index={2} max={3} title="Problem">
      <div class="flex flex-col md:flex-row gap-x-16 md:justify-between">
        <div class="md:min-w-[380px]">
          <p class="!mt-2">
            ESL was working with classic Excel sheets when it comes down to
            doing projects for clients. They have folders and inside these folders were other folders and
            inside
            they
            were, you can guess it... another folders. You can get use to it but for a new employees it was
            just
            hard.
            Also this is not really effective and over time it got to a point when it was not possible to
            manage
            dozens
            to hunderents of projects like this. You can imagine that this is a big step for a company and
            their
            processes. </p>
          <p>
            We liked that ESL is looking into the future and also tries to attract talent from the
            generation Z by
            building such a online system.
          </p>
        </div>
        <img src="/images/projects/esl_problem.jpg" class="block w-full object-cover flex-1 !mt-0" alt="Problem" loading="lazy" data-aos="fade" data-aos-duration="700" data-aos-delay="100">
      </div>
    </TextSection>
    <TextSection index={3} max={3} title="Solution">
      <p>
        The new concept was build by a really intensive work of internal
        team for almost 3 months. It consists of 6 people that were doing different part of each project. They
        put
        together a system architecture in Figma.</p>
      <p>
        The need for both web and mobile application was pretty clear from the start. But for the mobile
        platform
        there was a question to go or not go native. We make some brainstoring sessions and in the end we
        decided to
        develop crossplatform app in React Native (Expo).
      </p>
      <p>
        The web app serves as a tool for managing project documentation, invoice evidence and also managing
        users
        and roles.
        On the other side the mobile app is more used outside when working on devices and doing controls or
        revisions for a building.
      </p>

    </TextSection>
    <section class="spacing-def mt-8">
      <img src="/images/projects/esl_1.jpg" class="w-full block" alt="esl" loading="lazy">
      <div class="flex flex-col md:flex-row gap-8 mt-8 max-w-full justify-between">
        <div class="w-full md:w-1/2">
          <img src="/images/projects/esl_2.jpg" alt="esl" class="w-full h-full block object-cover" loading="lazy">
        </div>
        <div class="w-full md:w-1/2">
          <img src="/images/projects/esl_3.jpg" alt="esl" class="w-full h-full block object-cover" loading="lazy">
        </div>
      </div>
    </section>
    <Contact client:visible />
    <Cookies client:only />
  </BaseLayout>
  <Footer />
  <script
    defer>if ('serviceWorker' in navigator) window.addEventListener('load', () => navigator.serviceWorker.register('sw.js').catch(()=>{}))</script>
</body>

</html>

<script>
	import flamethrower from 'flamethrower-router';
	import AOS from "aos";

	const router = flamethrower({ prefetch: 'visible' });
	AOS.init()
</script>