---
import BaseLayout from "../../components/layouts/base.astro";
import Navbar from "../../components/elements/shared/navbar.svelte";
import Cookies from "../../components/modules/index/cookies.svelte";
import Contact from "../../components/modules/index/contact.svelte";
import Footer from "../../components/elements/shared/footer.astro";

import { SEO } from "astro-seo";
import StructuredData from "../../components/elements/shared/structured-data.astro"
import Heading from "../../components/elements/projects/heading.astro";
import TextSection from "../../components/elements/projects/text-section.astro";
import Services from "../../components/elements/projects/services.astro";

---

<html lang="en" class="bg-primary-blue">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO title="Kryptoles | Decentree - Developer studio" canonical="https://decentree.com"
        description="Decentree is a young company that specializes in the development of mobile, online, and blockchain apps. At Decentree we believe in the ability of technology to enhance people's lives on a daily basis."
        extend={{ link: [{ rel: "sitemap" , href: "/sitemap.xml" }, { rel: "favicon" , href: "/favicon.ico" },
        {rel:"manifest", href:"/manifest.json"}], }} openGraph={{ basic: { title: "Decentree - Developer studio" ,
        type: "website" , url: "https://decentree.com" , image: "" } }} />
    <StructuredData />
    <link rel="preload" href="/fonts/Montserrat-Black.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin>
    <script async key="google-analytics" type="text/partytown"
        src="https://www.googletagmanager.com/gtag/js?id=G-37G72ELFWH"></script>
    <script key="google-analytics-config" type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-37G72ELFWH');
    </script>
</head>

<body>
    <BaseLayout>
        <Navbar client:media="(max-width: 800px)" />
        <Heading title="Kryptoles" imagePath="/images/projects/kryptoles_heading.jpg">Imagine a forest where each tree
            is represented as a NFT and you can own it? That is right, we partner up with a cryptocurrency expert
            Altlift and developed a marketplace for their own forest where each tree has its own chip and it is an
            actual NFT. Isn’t that cool?
        </Heading>
        <TextSection index={1} max={3} title="About Kryptoles">
            <p>
                For starters kryptoles in english means crypto forest and it is a shared project of Altlift and
                Decentree. This NFT marketplace allows users to connect their wallet and buy trees in forest as a NFTs.
                Location of trees is then visible on google map with details such as image, price etc.
            </p>
        </TextSection>
        <section class="spacing-def my-16 flex flex-col gap-8 flex-wrap md:flex-row md:justify-between">
            <Services tags={[ "Frontend" , "Backend" , "Smart Contracts" , "QA" , "Design" ]}
                links={[{url: "https://kryptoles.cz/" , tagName: "Web App" }]} />
            <img src="/images/projects/kryptoles.png" class="block w-full md:max-w-[600px] object-cover flex-1" loading="lazy"
                alt="Problem">
        </section>
        <TextSection index={2} max={3} title="Problem">
            <div class="flex flex-col md:flex-row gap-x-16 md:justify-between">
                <div class="min-w-[380px]">
                    <p class="!mt-2">
                        Company Altlift bought a part of a forest some time ago. There was not a real usage of this
                        forest. And what would you do as an expert in cryptocurrencies? Build a NFT marketplace where
                        each tree will be represented as a NFT and has its own location.
                    </p>
                    <p>We were really exited about this project because it combines blockchain with real objects on the
                        world.</p>
                </div>
                <img src="/images/projects/kryptoles_problem.jpg" class="block w-full object-cover flex-1 !mt-0" loading="lazy"
                    alt="Problem">
            </div>
        </TextSection>
        <TextSection index={3} max={3} title="Solution">
            <p>
                We developed a NFT marketplace on Polygon using Moralis for backend and also wrote some smart contracts
                in Solidity using Foundry toolchain for the development and also testing. For authetication you can
                directly use your wallet or sign in with a magic link.
            </p>
            <p>
                NFTs can also bought in auction meaning that they are sold to the highest bidder.
            </p>
        </TextSection>
        <section class="spacing-def mt-8">
            <img src="/images/projects/kryptoles_1.jpg" class="w-full block" alt="kryptoles" loading="lazy">
        </section>
        <Contact client:visible />
        <Cookies client:only />
    </BaseLayout>
    <Footer />
    <script
        defer>if ('serviceWorker' in navigator) window.addEventListener('load', () => navigator.serviceWorker.register('sw.js').catch(()=>{}))</script>
</body>

</html>