---
import BaseLayout from "../../components/layouts/base.astro";
import Navbar from "../../components/elements/shared/navbar.svelte";
import Cookies from "../../components/modules/index/cookies.svelte";
import Contact from "../../components/modules/index/contact.svelte";
import Footer from "../../components/elements/shared/footer.astro";

import { SEO } from "astro-seo";
import StructuredData from "../../components/elements/shared/structured-data.astro"
import Heading from "../../components/elements/projects/heading.astro";
import TextSection from "../../components/elements/projects/text-section.astro";
import Services from "../../components/elements/projects/services.astro";


import "aos/dist/aos.css";
---

<html lang="en" class="bg-primary-blue">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO title="OIOtrust | Decentree - Developer studio" canonical="https://decentree.com"
        description="Decentree is a young company that specializes in the development of mobile, online, and blockchain apps. At Decentree we believe in the ability of technology to enhance people's lives on a daily basis."
        extend={{ link: [{ rel: "sitemap" , href: "/sitemap.xml" }, { rel: "favicon" , href: "/favicon.ico" },
        {rel:"manifest", href:"/manifest.json"}], }} openGraph={{ basic: { title: "Decentree - Developer studio" ,
        type: "website" , url: "https://decentree.com" , image: "" } }} />
    <StructuredData />
    <link rel="preload" href="/fonts/Montserrat-Black.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/Montserrat-Light.woff2" as="font" type="font/woff2" crossorigin>
    <script async key="google-analytics" type="text/partytown"
        src="https://www.googletagmanager.com/gtag/js?id=G-37G72ELFWH"></script>
    <script key="google-analytics-config" type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-37G72ELFWH');
    </script>
</head>

<body>
    <BaseLayout>
        <Navbar client:media="(max-width: 800px)" />
        <Heading title="OIOtrust" imagePath="/images/projects/oio_heading.jpg">Do you like hackathons? Well we do! One
            of our projects that we done was on the ETH Prague 2022 called OIOtrust and this app is like a last will but
            in the Web 3.0 space. Fully decentralized and secure. Maybe in the year 2080 it will be pretty normal to
            make last will like this and let the blockchain do everything for you.</Heading>
        <TextSection index={1} max={3} title="About OIOtrust">
            <p>
                OIOtrust was a project on the ETH Prague 2022 hackathon, where people from Decentree shape a team with
                few other individuals to create a tool for securing assets over a long time and keep generational wealth
                secured sustainably. The main use case is inheritance, which is deposited in the trust .
            </p>
        </TextSection>
        <section class="spacing-def my-16 flex flex-col gap-8 flex-wrap md:flex-row md:justify-between">
            <img src="/images/projects/oio.png" class="block w-full md:max-w-[600px] object-cover flex-1" loading="lazy"
                alt="Services"  data-aos="fade-left" data-aos-duration="600" data-aos-delay="200">
            <div data-aos="fade" data-aos-duration="600">
                <Services tags={[ "Frontend" , "Smart Contracts" , "QA" , "Design" ]}
                    links={[{url: "https://oiotrust.netlify.app/" , tagName: "Web App" }]} />
            </div>

        </section>
        <TextSection index={2} max={3} title="Problem">
            <div class="flex flex-col md:flex-row gap-x-16 md:justify-between">
                <div class="md:min-w-[380px]">
                    <p class="!mt-2">
                        Do you what exactly is a last will ? A last will and testament is a legal document that
                        communicates a person's final wishes pertaining to assets and dependents.
                    </p>
                    <p>This document is mostly drafted by some lawyer and costs hundreds to thousands of dollars. Now
                        imagine a solution where you don’t need any lawyer because we have smart contracts for that and
                        it is free of charge.</p>
                    <p>All your crypto is safe in the smart contract.</p>
                </div>
                <img src="/images/projects/oio_problem.jpg" class="block w-full object-cover flex-1 !mt-0 rounded-sm"
                    loading="lazy" alt="Problem"  data-aos="fade" data-aos-duration="700" data-aos-delay="100">
            </div>
        </TextSection>
        <TextSection index={3} max={3} title="Solution">
            <p>
                WIth this dapp it is possible to create a decentralized trust (last will) that could distribute your
                crypto wealth. Each trust is represented by a NFT, which is held by the trustee. You can specify the
                starting date, the frequency of the payouts and the payment amount. We are secured by smart contracts.
                There is no human involved, so nobody can steal the trust money. And everybody can trigger the contracts
                so the system is doesn’t rely on any authority for it to work.
            </p>
            <p>
                The system is powered by a smart contract managing the trust, written in Solidity. We used the Foundry
                toolchain to develop and test it. The contract extends ERC721 from OpenZeppelin. We built the frontend
                with React and Ethers.js that allows users to view, create and update their trusts. We’re not using any
                off-chain backend, everything is loaded directly from the chain.
            </p>
        </TextSection>
        <section class="spacing-def mt-8">
            <img src="/images/projects/oio_1.jpg" class="w-full block object-cover rounded-sm rounded-sm" alt="oiotrust" loading="lazy">
        </section>
        <Contact client:visible />
        <Cookies client:only />
    </BaseLayout>
    <Footer />
    <script
        defer>if ('serviceWorker' in navigator) window.addEventListener('load', () => navigator.serviceWorker.register('sw.js').catch(()=>{}))</script>
</body>

</html>
<script>
	import flamethrower from 'flamethrower-router';
	import AOS from "aos";

	const router = flamethrower({ prefetch: 'visible' });
	AOS.init({once: true})
</script>