---
import HeroBackground from "../../elements/index/hero/hero-background.astro"
import HeroText from "../../elements/index//hero/hero-text.astro"
import HeroPartners from "../../elements/index/hero/hero-partners.astro"
---
<section class="h-screen min-h-[700px] relative grid-def bg-primary-blue">
	<img src="/images/decoration.svg" class="absolute right-0 bottom-0 h-full" alt="Dekorace" draggable={false} loading="lazy"/>
	<img src="/images/decoration-left.svg" class="absolute left-0 bottom-0 max-h-[190px] hidden md:block" alt="Dekorace" draggable={false} loading="lazy"/>
	<HeroBackground/>
	<HeroText>
		<h1 class="text-2xl md:text-5xl my-0 md:leading-tight">Web 3.0 & web 2.0,<br />SW development</h1>
		<hr class="w-[80px] m-0 border-primary-green border-t-1 my-6">
		<p class="text-base md:text-lg md:max-w-4/7 my-0" style="text-shadow: 2px 1px 3px rgba(0,0,0,0.81);">Decentree is a young company that specializes in the development of mobile, online, and blockchain apps. At Decentree we believe in the ability of technology to enhance people's lives on a daily basis.</p>
		<a href="https://calendly.com/decentree" target="_blank" class="btn-primary mt-6">Book a consultation</a>
	</HeroText>
	<HeroPartners/>
</section>